node_modules/
dist/
playwright-report/
test-results/
.env
.env.*
*.log
.auth/
allure-results/
allure-report/
monocart-report/
results/
results.xml
cucumber-report.json
cucumber-report.html
cucumber-results.json
cucumber-results/
cucumber-html-reports/
cucumber-json-reports/